.homepageheader{
    background-color: cadetblue;
    color: orange;
}
body{
    background-color: #000000;
    color: #000000;
}
.blueh1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: darkslateblue;
}
.redh1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: red;
}
a:link {
    color: rgb(0, 102, 204);
}
a:visited {
    color: rgb(0, 102, 204);
}